@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>I am Toiob Web developer</h1>
    <button type="button" style="background-color:aqua" onclick="location.href='@Url.Action("Summation","Home")'">Click</button>
    <hr />
    <button type="button" onclick="location.href='@Url.Action("next","Home")'">Next</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
